<!--Page Title-->
<section class="page-title" style="background-image:url(/assets/images/background/11.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Reserve</h2>
                <div class="text">Fitness is not a destination it is a way of life.</div>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index-2.html">home</a></li>
                    <li>Login / Register</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Register Section-->
<section class="register-section">
    <div class="auto-container">
        <div class="row clearfix" style="justify-content:center">

            <!--Form Column-->
            <div class="form-column column col-lg-6 col-md-12 col-sm-12">

                <div class="sec-title">
                    <h2>Reserve</h2>
                    <div class="separate"></div>
                </div>

                <!--Login Form-->
                <div class="styled-form login-form">

                    <div class="form-group">

                        <input type="number" id="duration" name="duration" placeholder="Duration *">
                    </div>

                    <div class="form-group">


                        <select id="types" name="type" class="form-control">
                            <option value="0">Choose</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <button onclick="getPrice()" class="btn btn-primary" value="get price">get price</button>
                    </div>


                    <div class="form-group">

                        <input type="text" readonly id="price" name="Price" placeholder="Price *">
                    </div>



                    <div class="clearfix">
                        <div class="form-group pull-left">

                            <a asp-action="Index" class="theme-btn btn-style-three"><span class="txt">goto home</span></a>
                        </div>

                    </div>







                </div>

            </div>

        </div>
    </div>
</section>
<!--End Register Section-->















@*<h1>Reserve</h1>
<input type="number" id="duration" />Duration
<select id="types" name="type">
    <option value="0">Choose</option>
</select>
<input type="text" readonly id="price" />Price


<a asp-action="Index" class="btn btn-block" />*@


@section Scripts{
    <script>
        $(document).ready(function () {
            var html = '';
            $.ajax({
                url: "/Home/GetAllTypes",
                type: "POST",
                dataType: "json",
                success: function (result) {
                    for (i = 0; i < result.data.length; i++) {
                        html += `<option value = '${result.data[i].id}'> ${result.data[i].name} </option> `;
                    }
                    $("#types").append(html);

                },
                failure: function (info) {

                }
            });
        });



        function getPrice() {


            var duration = $("#duration").val();

            if (duration == '') {
                alert("please enter duration");
                return false;
            }
            var subscriptionId = $('#types :selected').val();
            debugger;
            if (subscriptionId == "0") {

                alert("please choose type");
                return false;
            }


            $.ajax({
                url: "/Home/GetPrice",
                type: "POST",
                data: {
                    duration: duration,
                    subscriptionId: subscriptionId
                },
                dataType: "json",
                success: function (result) {
                    $("#price").val(result.data);

                },
                failure: function (info) {

                }
            });
        }



    </script>

}